.env
ultrachat/**/**.*
fingerprints/**/**.*
verifications/**/**.*
replications/**/**.*
replications/**/**.*
inferences_to_replicate/**/**.*
*.png
*.html
classifier_analysis_results/
response_logprobs/
**/**.ipynb
**/cache.json
